/*Name this external file gallery.css*/
body{
		margin: 2%;
		border: 1px solid white;
		background-color: green;
}

#travel {
    text-align: center;
    color: whitesmoke;
}

#Name {
    color: aquamarine;
}

#image{
    line-height:650px;
	width: 575px;
    height: 650px;
	border:5px solid white;
	margin:0 auto;
    background-color: gray;
    background-image: url('');
    background-repeat: no-repeat;
    color:white;
    font-style: bold;
    text-align: center;
    background-size: 100%;
    margin-bottom:25px;
    font-size: 250%;
}
.preview{
	width:10%;
	margin-left:17%;
    border: 10px solid black;
}
img{
	width:95%;
}